body{
    font-family: campton;
    background-color: #211B16;
    overflow-x: hidden;
    text-align: center;
}

#Heading{
    color: white;
}




#TpNav{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.60);
    margin: -10px;
    padding: 50px 0px 30px 0px;
}

#BRSLogo{
    width: 125px;
    margin-top: -15px;
    padding-right:40px;
}

#lisLst{
    padding: px;
    color: white;
    list-style-type: none;
    text-align: center;
    margin-top: -0.2%;

}

#lisLst li {
    color: white;
    list-style-type: none;
    display: inline;
    padding-inline: 90px;
}

#lisLst li a {
    color: white;
    display:inline-block;
    list-style-type: none;
    text-decoration: none;
}







.allChaInf{

}

.chaInfoforFlex{
    display: flex;
    margin: auto;
    justify-content: center;
}

.flxIns{
    text-align: left;
    margin-left: 70px;
    margin-top: 50px;
}

.chrImgs{
    width:500px
}




.chaInfoforFlex  h2{
    color: white;
    font-size: 50px;

}


.chaInfoforFlex p{
    max-width: 300px;
    color: white;
    font-size: 18px;
    line-height: 30px;
    margin-top: -20px;
}